@use "variables";

.categorias {
    width: 95%;
    margin: auto;

    &__intro {
        background-color: rgb(223, 222, 222);
        border-radius: 10px;
        width: 85%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 25px;
        text-align: justify;
    }

    &__container {
        margin: 20px 0px 70px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        &__categoria {
            width: 100%;
            margin-top: 5px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            overflow: hidden;
            border-radius: 8px;

            &:hover {
                transform: translateY(-8px);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            }

            img {
                width: 100%;
                height: auto;
                display: block;

                transition: filter 0.3s ease, scale 0.3s ease;
                filter: brightness(0.9);
            }

            &:hover img {
                filter: brightness(1.1);
                scale: 1.05;
            }

            &__nombre {
                text-align: center;
                font-weight: 700;
            }
        }

        a:link,
        a:visited {
            color: rgb(93, 95, 121);
        }

        a:hover {
            color: rgb(245, 157, 35);
        }

    }

}


/* Diseño para tablets (> 700 px de ancho)   */
@media screen and (min-width: 700px) {
    .categorias__container__categoria {
        width: 45%;
        text-align: left;
        margin-bottom: 30px;


        &__nombre {
            font-size: 0.9rem;
        }
    }
}


/* Diseño para ordenadores (> 1200 px de ancho)   */
@media screen and (min-width: 1200px) {
    .categorias__container__categoria {
        width: 23%;
        text-align: left;
        margin-bottom: 30px;
    }
}