@use "variables";

.detalle {
    animation: fadeInPage 0.8s ease-in;

    &__hero {
        position: relative;
        width: 100%;
        height: auto;
        overflow: hidden;
        line-height: 0;

        img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: initial;
            transition: transform 10s linear;
        }

        &:hover img {
            transform: scale(1.05);
        }

        &-title {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
            color: white;
            padding: 2rem 1rem;
            text-align: center;
            box-sizing: border-box;

            h1 {
                margin: 0;
                font-size: clamp(1.5rem, 5vw, 4rem); // Tamaño fluido que se adapta solo
                text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
            }
        }
    }

    &__container {
        max-width: 1000px;
        margin: 3rem auto;
        padding: 0 1.5rem;
    }

    &__articulo {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 4rem;
        align-items: center;

        transition: transform 0.3s ease;

        &:hover {
            transform: translateY(-5px);
        }

        &__imagen {
            width: 100%;
            overflow: hidden;
            border-radius: 12px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

            img {
                width: 100%;
                display: block;
                transition: filter 0.3s ease;
            }
        }

        &__texto {
            flex: 1;

            p {
                font-size: 1.1rem;
                line-height: 1.7;
                color: #444;
            }
        }

        @media (min-width: 768px) {
            flex-direction: row;

            &--reverse {
                flex-direction: row-reverse;
            }

            &__imagen {
                flex: 1;
            }

            &__texto {
                flex: 1;
            }
        }
    }

    &__video {
        background-color: #f9f9f9;
        padding: 4rem 1.5rem;
        text-align: center;

        h3 {
            margin-bottom: 2rem;
            color: variables.$color-texto-primario;
        }

        &-wrapper {
            max-width: 800px;
            margin: 0 auto;
            aspect-ratio: 16 / 9;

            iframe {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
            }
        }
    }
}


@keyframes fadeInPage {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}