@use "./variables";

// Estilos del Header

.encabezado {
    width: 100%;
    height: 60px;
    background: rgb(255, 255, 255);
    position: relative;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    /* Fijamos el menu en 100% ancho */
    &__menu {
        position: absolute;
        top: 60px;
        width: 100%;
        z-index: 999;

        /* Quitamos estilos por defecto de UL */
        &__nav-menu {
            background: variables.$color-texto-primario;
            max-height: 0;
            overflow: hidden;
            margin: 0;
            padding: 0;
            list-style: none;
            font-size: 14px;
        }

        /* Convertimos nuestra lista de enlaces en un menú horizontal */
        li {
            display: block;
            background: variables.$color-texto-primario;
            text-transform: uppercase;
            text-align: center;
            border-bottom: 1px solid #282b30;

            /* Damos estilo a los enlaces */
            a {
                display: block;
                color: rgb(255, 255, 255);
                text-decoration: none;
                font-weight: 600;
                line-height: 60px;
                padding: 0 26px;

                &:hover {
                    color: variables.$color-texto-secundario;
                }
            }
        }

        /* Agregamos una animación al despliegue del menú */
        &__open-menu {
            box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
            max-height: 400px;
            transition: max-height .4s ease;
        }


        /* Botón mostrar menú */
        &__nav-mobile {
            background: transparent;
            border: 0;
            cursor: pointer;
            float: right;
            width: 60px;
            height: 60px;
            position: absolute;
            right: 0;
            top: -60px;
            opacity: 0.6;

            /* Agregaremos esta clase a nav-mobile, cuando el menu mobile haya sido desplegado */
            &__nav-open {
                opacity: 1;
            }

            span {
                display: block;
                width: 60%;
                margin: 4px auto;
                height: 4px;
                background: variables.$color-texto-primario;
            }
        }

    }

}

/* Diseño para tablets u Ordenadores (> 700 px de ancho)   */

@media only screen and (min-width: 700px) {

    /* Ocultar el botón hamburguesa */
    .encabezado__menu__nav-mobile {
        display: none;
    }

    /* Reposicionar el contenedor del menú */
    .encabezado__menu {
        position: relative;
        top: 0;
        width: auto;
        float: right;
        display: block;

        &__nav-menu {
            display: flex;
            max-height: none;
            overflow: visible;
            background: none;
        }

        li {
            background: transparent !important;
            border: none;
            float: none;

            a {
                color: variables.$color-texto-primario;
                line-height: 60px;
                padding: 0 20px;
                display: block;

                &:hover {
                    color: variables.$color-texto-secundario;
                    background: transparent;
                }
            }
        }
    }
}