@use "./variables";
@use "./encabezado";
@use "./portada";
@use "./footer";
@use "./categoria";
@use "./detalle";

// Resets iniciales

body {
    margin: 0;
    font-family: variables.$fuentes-base;
    color: variables.$color-texto-primario;
}

a {
    text-decoration: none;
}

h1,
h2 {
    text-align: center;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000;
    color: white;
    padding: 8px;
    z-index: 2000;
    transition: top 0.3s;

    &:focus {
        top: 0;
    }
}